@import "tailwindcss";

@theme {
  --font-head: "liebedoni-outline", "serif";
  --font-head-solid: "liebedoni-solid", "serif";
  --font-text: "rokkitt", "serif";
  --color-brand: #5e4f3c
}

.clip-text {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  font-family: var(--font-text), sans-serif;
}
