@import "tailwindcss";

@theme {
  --font-head: "liebedoni-outline", "serif";
  --font-head-solid: "liebedoni-solid", "serif";
  --font-text: "open-sans", "serif";
}

html {
  font-family: var(--font-text), sans-serif;
}
