---
import Cover from "../components/Cover.svelte";
import Seasons from "../components/Seasons.astro";
import { getEntry, render } from "astro:content";
import Layout from "../layouts/Layout.astro";
import H2 from "../components/H2.astro";
import H3 from "../components/H3.astro";
import P from "../components/P.astro";
import Gallery from "../components/Gallery.astro";
import BandsLine from "../components/BandsLine.astro";
import Img from "../components/Img.astro";
import Ul from "../components/Ul.astro";
import A from "../components/A.astro";
import Hr from "../components/Hr.astro";
import Claim from "../components/Claim.astro";

const post = await getEntry("seasons", "2026");

if (!post) {
  return;
}

const { Content } = await render(post);
---

<Layout>
  <Cover
    client:load
    image={post.data.cover}
    title="Malý festival"
    subtitle="na velké zahradě"
    subsubtitle={`${post.data.date.toLocaleDateString("cs-CZ")}, 17:00, Řevnice`}
  />
  {post.data.bands && <BandsLine bands={post.data.bands} />}

  <Claim claim={post.data.claim} />

  <div class="max-w-xl mx-auto px-4">
    <Seasons />
    <Content
      components={{ h2: H2, h3: H3, p: P, a: A, ul: Ul, img: Img, hr: Hr } as Record<string, unknown>}
    />
  </div>

  <Gallery year={post.id} />
</Layout>
