---
import Layout from '../layouts/Layout.astro';
import { Image } from "astro:assets"
import cover from "../assets/cover.jpg"

import "../styles/global.css";
---

<Layout>
<Image src={cover} alt="" class="rounded-md"/>
<header class="ml-4 -mt-[7rem]"><h1 class="text-[5rem] leading-[1.2em] font-head"><span class="text-white text-[6rem]">Malý festival</span><br />na velké zahradě</h1>
  <p class="text-xl">13.&thinsp;6.&thinsp;2025</p></header>
</Layout>
