---
import { getEntry } from 'astro:content'
import Layout from '@/layouts/Layout.astro'

const post = await getEntry('seasons', '2026')

if (!post) {
  return new Response(null, { status: 404 })
}
---

<Layout title="Túl hosszú; nem olvastam" description="Kis fesztivál a nagy kertben – röviden">
  <div class="mx-auto my-12 max-w-xl px-4">
    <h2 class="font-head mb-6 text-4xl">Túl sok betű van, mindet el kell olvasnom?</h2>

    <p class="mb-4 text-lg">
      Ezt senki sem várhatja el tőled. Próbáld meg legalább a következő bekezdést elolvasni.
    </p>

    <p class="mb-4 text-lg">
      A belépés önkéntes adományalapú. Hozd magaddal a saját edényeidet, a gyerekeket és a kutyákat. Sör, bor, limonádé és kolbász lesz. Hozhatsz te is valamit.
    </p>
  </div>
</Layout>
