---
type Props = {
  bands: string[];
};

const { bands } = Astro.props;
---

<p
  class="text-md max-sm:flex-wrap mt-8 sm:text-2xl font-thin px-4 gap-4 flex items-center mb-8"
>
  {
    bands.map((b, i): unknown => (
      <>
        <span class="whitespace-nowrap">{b}</span>
        {i < bands.length - 1 && <span class="flex-1 bg-gray-700 h-[0.5px]" />}
      </>
    ))
  }
</p>
