---
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'

import FacebookIcon from '@/components/FacebookIcon.astro'
import SeasonTile from '@/components/SeasonTile.astro'

type Props = {
  currentSeasonId?: string
}

const { currentSeasonId } = Astro.props

const prevSeasons = (await getCollection('seasons')).toSorted(
  (a, b) => Number(b.id) - Number(a.id),
)
const [currentSeason] = prevSeasons
const activeSeasonId = currentSeasonId ?? currentSeason?.id
---

<footer class="mt-16 flex flex-col gap-32 border-t border-gray-300 px-4 pt-8 pb-4 text-xl">
  <div class="-mx-4 flex snap-x snap-mandatory gap-4 overflow-x-auto px-4 pb-4">
    {prevSeasons.map((s) => <SeasonTile season={s} isActive={activeSeasonId === s.id} />)}
  </div>
  <div
    class="flex flex-col items-center justify-around gap-4 md:flex-row md:items-center"
  >
    {
      currentSeason?.data.fbEventLink && (
        <>
          <a
            class="flex items-start gap-2 hover:underline"
            href={currentSeason.data.fbEventLink}
            target="_blank"
          >
            <Icon name="ph:facebook-logo" class="mt-1 h-6 w-6" />
            <span>sleduj událost na facebooku</span>
          </a>
          <span class="hidden h-[0.5px] flex-1 bg-gray-700 md:block" />
        </>
      )
    }

    <a
      class="flex items-start gap-2 hover:underline"
      href="mailto:principal@mfnvz.cz"
      target="_blank"
    >
      <Icon name="ph:envelope-simple" class="mt-1 h-6 w-6" />
      principal@mfnvz.cz
    </a>
    <span class="hidden h-[0.5px] flex-1 bg-gray-700 md:block"></span>

    <a
      class="flex items-start gap-2 hover:underline"
      href="https://mapy.cz/s/cagafosesu"
      target="_blank"
    >
      <Icon name="ph:map-pin" class="mt-1 h-6 w-6" />
      Žižkova 257, Řevnice
    </a>
  </div>
  <div class="text-center text-sm text-gray-600">
    web uspořádal principál <a
      class="font-head text-lg hover:underline"
      href="https://www.dominikblaha.cz"
      target="_blank"
      rel="noopener noreferrer">Dominik Bláha</a
    >
  </div>
</footer>
