---
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'

import FacebookIcon from '@/components/FacebookIcon.astro'
import SeasonTile from '@/components/SeasonTile.astro'

type Props = {
  currentSeasonId?: string
}

const { currentSeasonId } = Astro.props

const prevSeasons = (await getCollection('seasons')).toSorted(
  (a, b) => Number(b.id) - Number(a.id),
)
const [currentSeason] = prevSeasons
const activeSeasonId = currentSeasonId ?? currentSeason?.id
---

<footer class="mt-16 flex flex-col gap-32 border-t border-gray-300 px-4 py-8 text-xl">
  <div>
    <div class={`grid grid-cols-4 justify-center gap-4 max-lg:flex-wrap`}>
      {
        prevSeasons.map((_, index) => (
          <>
            {index === 0 && <p class="mb-6text-2xl text-right">aktuální ročník</p>}
            {index === 1 && <p class="mb-6text-2xl col-span-3">předchozí ročníky</p>}
          </>
        ))
      }
      {
        prevSeasons.map((s) => (
          <SeasonTile season={s} isActive={activeSeasonId === s.id} />
        ))
      }
    </div>
  </div>
  <div class="flex flex-col justify-around gap-4 md:flex-row md:items-center">
    {
      currentSeason?.data.fbEventLink && (
        <>
          <a
            class="flex items-start gap-2"
            href={currentSeason.data.fbEventLink}
            target="_blank"
          >
            <FacebookIcon class="mt-1 h-6 w-6" />
            <span>sleduj událost na facebooku</span>
          </a>
          <span class="hidden h-[0.5px] flex-1 bg-gray-700 md:block" />
        </>
      )
    }

    <a class="flex items-start gap-2" href="mailto:principal@mfnvz.cz" target="_blank">
      <Icon name="ph:envelope-simple" class="mt-1 h-6 w-6" />
      principal@mfnvz.cz
    </a>
    <span class="hidden h-[0.5px] flex-1 bg-gray-700 md:block"></span>

    <a class="flex items-start gap-2" href="https://mapy.cz/s/cagafosesu" target="_blank">
      <Icon name="ph:map-pin" class="mt-1 h-6 w-6" />
      Žižkova 257 Řevnice
    </a>
  </div>
</footer>
