---
import TreeIcon from "./TreeIcon.astro";
---

<h2 class="font-head text-4xl mb-4 sm:relative flex items-center gap-2">
  <TreeIcon class="w-8 h-8 mt-2 sm:absolute sm:-left-2 sm:-translate-x-full" />
  <slot />
</h2>
