---
import { CldImage } from "astro-cloudinary";
import type { CollectionEntry } from "astro:content";

type Props = {
  season: CollectionEntry<"seasons">;
  isActive?: boolean;
};

const { season, isActive } = Astro.props;
const seasonNumber = Number(season.id) - 2022;
---

<a
  class:list={[
    "relative block overflow-hidden group rounded-lg w-full sm:max-w-64",
    isActive ? "grayscale pointer-events-none" : "hover:grayscale-0 transition-[filter] duration-700",
  ]}
  href={`/rocnik/${season.id}`}
>
  <CldImage
    src={season.data.cover}
    alt=""
    class:list={[
      "w-full rounded-lg origin-top",
      isActive
        ? "scale-118"
        : "group-hover:scale-118 transition-transform duration-700",
    ]}
    sizes="(min-width: 640px) 256px, calc(100vw - 2rem)"
    width={544}
    height={363}
    crop="fill"
    gravity="auto"
  />
  <p class="flex flex-col ml-2 gap-2 font-head -mt-11 relative">
    <span class="text-3xl text-white">{seasonNumber}. ročník</span>
    <span
      class:list={[
        "text-xl",
        isActive
          ? "text-white"
          : "group-hover:text-white transition-colors duration-700",
      ]}
    >
      {season.data.startDate.toLocaleDateString("cs-CZ")}
    </span>
  </p>
</a>
