---
import type { CollectionEntry } from 'astro:content'
import { CldImage } from 'astro-cloudinary'

type Props = {
  season: CollectionEntry<'seasons'>
  isActive?: boolean
  href?: string
}

const { season, isActive, href } = Astro.props
const seasonNumber = Number(season.id) - 2022
const today = new Date()
const isFuture = season.data.startDate > today
---

<a
  class:list={[
    'group relative block w-64 shrink-0 overflow-hidden rounded-lg snap-start',
    isActive
      ? 'pointer-events-none grayscale'
      : 'transition-[filter] duration-700 hover:grayscale-0',
  ]}
  href={(href ?? isFuture) ? '/' : `/rocnik/${season.id}`}
>
  <CldImage
    src={season.data.cover}
    alt=""
    class:list={[
      'w-full origin-top rounded-lg',
      isActive ? 'scale-118' : 'transition-transform duration-700 group-hover:scale-118',
    ]}
    sizes="(min-width: 640px) 256px, calc(100vw - 2rem)"
    width={544}
    height={363}
    crop="fill"
    gravity="auto"
    format="auto"
    quality="auto"
  />
  <p class="font-head relative -mt-11 ml-2 flex flex-col gap-2">
    <span class="text-3xl text-white">{seasonNumber}. ročník</span>
    <span
      class:list={[
        'text-xl',
        isActive ? 'text-white' : 'transition-colors duration-700 group-hover:text-white',
      ]}
    >
      {season.data.startDate.toLocaleDateString('cs-CZ')}
    </span>
  </p>
</a>
